$darkBlue: rgba(0, 0, 255, 1);
$darkGreen: rgba(1, 121, 1, 1);
$lightPurple: rgba(198, 75, 198, 1);
$darkOrange: rgba(244, 132, 40, 1);
$lightRed: rgba(252, 14, 14, 1);
$lightAliceBlue: rgba(180, 214, 244, 1);
 
body { 
   background-color: $lightAliceBlue;
}

h1 { 
    color: $darkOrange;
    text-align: center;
}

h3 {
    color: $darkBlue;
    text-align: center;
     
}

h4 {
    color: $darkGreen;
    text-align: center;
     
}

h2 {
    color: $lightRed;
    text-align: center;
}

ul, li {
    justify-content: center;
}

pre {
    b {
        color: $lightPurple;
    }
}

form, input, p, pre { 
    text-align: center;
}





